<!--The content below is only a placeholder and can be replaced.-->
<div id="wrap">
    <div id="fh5co-page">
        <app-header></app-header>

        <div class="fh5co-slider">
            <div class="container">
                <div class="col-md-6">
                    <app-carousel></app-carousel>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>

        <div id="fh5co-intro" class="fh5co-section">
            <div class="container">

                <router-outlet></router-outlet>

            </div>
        </div>
    </div>
</div>